# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\project_11.25\virtual_drawing_board-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
